<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THGL_Managment_System.Properties.Settings.THGLdbConnectionString"
            connectionString="Data Source=VOUTC-PC\SQLEXPRESS;Initial Catalog=THGLdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>